.link-sortable {
    color: #54667a;
    text-decoration: none;
}

.link-sortable:hover {
    text-decoration: none;
    color: #54667a;
    opacity: 0.8;
}

.readonly-undecorate[readonly] {
    opacity: 1;
    background-color: #fff;
}
