<template>
    <div>
        <div v-show="this.errors" class="alert alert-danger">
            <h5 class="text-danger">
                <i class="cil-report-slash" style="font-size: 14px"></i> Por favor corrija lo siguiente:
            </h5>

            <ul>
                <li v-for="error in this.errors" v-text="error[0]"></li>
            </ul>
        </div>

        <div class="form-row">
            <!-- Clientes -->
            <div class="col-12 col-md-6 mt-2">
                <div class="form-group">
                    <label>
                        Clientes <span class="badge badge-info">Requerido</span>
                    </label>

                    <v-select :options="clientes"
                              :reduce="item => item.id"
                              label="nombre" v-model="model.cliente_id">
                    </v-select>
                </div>
            </div>

            <!-- Variedades -->
            <div class="col-12 col-md-6 mt-2">
                <div id="field_group_variedad" class="form-group">
                    <label>
                        Variedad <span class="badge badge-info">Requerido</span>
                    </label>

                    <v-select :options="variedades"
                              :reduce="item => item.id"
                              label="nombre" v-model="variedad_id">
                    </v-select>
                </div>
            </div>

            <!-- Fecha de venta -->
            <div class="col-12 col-md-6 mt-2">
                <div id="field_group_fecha_produccion" class="form-group">
                    <label>
                        Fecha de venta <span class="badge badge-info">Requerido</span>
                    </label>

                    <date-picker class="readonly-undecorate" v-model="model.fecha_venta"
                                 :config="$configDatepicker"
                                 readonly></date-picker>
                </div>
            </div>
        </div>

        <hr>

        <div class="form-row">
            <div class="col-12 col-md-4 mt-2">
                <div class="form-group">
                    <label>
                        Cajas de banano <span class="badge badge-info">Requerido</span>
                    </label>

                    <v-select :options="producciones"
                              :reduce="item => item.id"
                              :getOptionLabel="item => item.descripcion"
                              v-model="detalle.produccion_id">
                    </v-select>
                </div>
            </div>

            <div class="col-12 col-md-2 mt-2">
                <div class="form-group">
                    <label for="existencia">
                        Existencia <span class="badge badge-info">Requerido</span>
                    </label>

                    <input type="number" id="existencia" :value="existencia" class="form-control" readonly>
                </div>
            </div>

            <div class="col-12 col-md-2 mt-2">
                <div class="form-group">
                    <label for="cantidad">
                        Cantidad <span class="badge badge-info">Requerido</span>
                    </label>

                    <input type="number" id="cantidad" v-model="detalle.cantidad" min="0" :max="existencia"
                           class="form-control">
                </div>
            </div>

            <div class="col-12 col-md-2 mt-2">
                <div class="form-group">
                    <label>
                        Precio <span class="badge badge-info">Requerido</span>
                    </label>

                    <money v-model="detalle.precio" class="form-control"></money>
                </div>
            </div>

            <div class="col-12 col-md-2 align-self-center mt-2">
                <button class="btn btn-success" @click="add"><i class="cil-plus"></i></button>
            </div>
        </div>

        <hr>

        <div class="row mt-3">
            <div class="col-12">
                <div class="table-responsive mt-4">
                    <table class="table table-bordered table-striped table-hover">
                        <thead>
                        <tr>
                            <th>Producción</th>
                            <th>Cantidad</th>
                            <th>Precio</th>
                            <th>Precio total</th>
                            <th>Eliminar</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="(detalle, index) in this.model.detalle">
                            <td v-text="detalle.produccion_descripcion"></td>
                            <td v-text="detalle.cantidad"></td>
                            <td>{{ $currency_format(detalle.precio) }}</td>
                            <td>{{ $currency_format(detalle.precio * detalle.cantidad) }}</td>
                            <td>
                                <button class="btn btn-outline-danger"
                                        @click="remove(index)">
                                    <i class="cil-trash"></i>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="float-right mt-4 text-right">
                    <p>
                        <b>Subtotal:</b> {{ $currency_format(this.subtotal.toFixed(2)) }}
                    </p>

                    <p>
                        <b>IVA % {{ this.parametros.porcentaje_iva }}:</b> {{ $currency_format(this.iva.toFixed(2)) }}
                    </p>

                    <p>
                        <b>Total:</b> {{ $currency_format(this.total.toFixed(2)) }}
                    </p>
                </div>
            </div>
        </div>

        <div class="form-actions text-right mt-3">
            <button class="btn btn-success" @click="send"><i class="fa fa-check"></i> Salvar</button>
            <button class="btn btn-inverse" @click="clear(true)">Cancelar</button>
        </div>
    </div>
</template>

<script>
export default {
    name: "CreateProduccion",

    props: {parametros: Object, clientes: Array, variedades: Array},

    watch: {
        'variedad_id': function (value) {
            this.detalle.produccion_id = undefined

            if (!value) {
                return this.producciones = []
            }

            let variedad = this.variedades.find(item => item.id === value)

            this.producciones = variedad.producciones
        },

        'detalle.produccion_id': function (value) {
            if (!value) {
                return this.existencia = this.detalle.precio = 0
            }

            let produccion = this.producciones.find(item => item.id === value)

            this.detalle.precio = produccion.precio_caja_venta

            this.existencia = Number(produccion.existencia);

            let detalle = this.model.detalle.find(item => item.produccion_id === value)

            if (detalle) {
                this.existencia -= Number(detalle.cantidad)
            }
        }
    },

    computed: {
        subtotal: function () {
            return this.model.detalle.reduce(
                (total, item) =>
                    total + Number(item.cantidad) * Number(item.precio)
                , 0)
        },

        iva: function () {
            return Number(this.subtotal) * (Number(this.parametros.porcentaje_iva) / 100)
        },

        total: function () {
            return this.subtotal + this.iva
        }
    },

    data: function () {
        return {
            existencia: 0,
            variedad_id: 0,
            producciones: [],

            model: {
                cliente_id: 0,
                fecha_venta: this.$now(),
                detalle: []
            },

            detalle: {
                produccion_id: undefined,
                produccion_descripcion: '',
                cantidad: 0,
                precio: 0
            },

            errors: undefined,
        }
    },

    methods: {
        add: function () {
            if (this.validate() !== true) {
                return false;
            }

            let produccion = this.producciones.find(
                item =>
                    Number(item.id) === Number(this.detalle.produccion_id)
            )

            this.detalle.produccion_descripcion = produccion.descripcion

            let detalle = this.model.detalle.find(
                item =>
                    Number(item.produccion_id) === Number(this.detalle.produccion_id)
            )

            this.fillDetail(detalle)

            this.clear()
        },

        fillDetail: function (detalle) {
            if (detalle) {
                detalle.cantidad = Number(detalle.cantidad) + Number(this.detalle.cantidad)
            } else {
                this.model.detalle.push(Object.assign({}, this.detalle))
            }
        },

        remove: function (index) {
            this.model.detalle.splice(index, 1)
            this.clear()
        },

        send: function (event) {
            if (!this.model.cliente_id) {
                return toastr.warning('Por favor seleccione un cliente')
            }

            if (!this.model.fecha_venta) {
                return toastr.warning('Por favor ingrese una fecha de venta')
            }

            if (this.model.detalle.length <= 0) {
                return toastr.warning('Por favor llene el detalle de venta')
            }

            event.target.disabled = true;
            this.errors = undefined

            axios.post('/ventas', this.model)
                .then(response => {
                    Swal.fire('¡Acción completada correctamente!', response.data.message, 'success')
                    this.clear(true)
                })
                .catch(error => {
                    if (error.response.status === 422) {
                        return this.errors = error.response.data.errors
                    }

                    Swal.fire('¡Oops!', 'Ha surgido un error al intentar realizar esta acción', 'error')
                })
                .finally(() => event.target.disabled = false)
        },

        validate: function () {
            if (!this.detalle.produccion_id) {
                return toastr.warning('Por favor seleccione una producción de caja de banano')
            }

            if (!this.detalle.cantidad) {
                return toastr.warning('Por favor ingrese la cantidad a vender')
            }

            if (!this.detalle.precio) {
                return toastr.warning('Por favor verifique que el precio, no sea cero')
            }

            return true
        },

        clear: function (all = false) {
            this.detalle = {
                produccion_id: undefined,
                produccion_descripcion: '',
                cantidad: 0,
                precio: 0
            }

            if (all) {
                this.model = {
                    cliente_id: 0,
                    fecha_venta: this.$now(),
                    detalle: []
                }
            }
        }
    }
}
</script>
