<template>
    <div>
        <div v-show="this.errors" class="alert alert-danger">
            <h5 class="text-danger">
                <i class="cil-report-slash" style="font-size: 14px"></i> Por favor corrija lo siguiente:
            </h5>

            <ul>
                <li v-for="error in this.errors" v-text="error[0]"></li>
            </ul>
        </div>

        <div class="form-row">
            <!-- Precio base de caja -->
            <div class="col-12 col-md-4 mt-2">
                <div id="field_group_precio_base_caja" class="form-group">
                    <label>Precio base de caja</label>
                    <input type="text"
                           :value="parametros.precio_base_caja"
                           class="form-control" aria-label="" readonly>
                </div>
            </div>

            <!-- Total de manos por caja -->
            <div class="col-12 col-md-4 mt-2">
                <div id="field_group_total_manos_caja" class="form-group">
                    <label>Total de manos por caja</label>
                    <input type="text"
                           :value="parametros.total_manos_caja"
                           class="form-control" aria-label="" readonly>
                </div>
            </div>

            <!-- Porcentaje de utilidad -->
            <div class="col-12 col-md-4 mt-2">
                <div id="field_group_porcentaje_utilidad" class="form-group">
                    <label>Porcentaje de utilidad</label>
                    <input type="text"
                           :value="parametros.porcentaje_utilidad"
                           class="form-control" aria-label="" readonly>
                </div>
            </div>
        </div>

        <div class="form-row">
            <!-- Lotes -->
            <div class="col-12 col-md-6 mt-2">
                <div id="field_group_lote" class="form-group">
                    <label>Lote
                        <span class="badge badge-info">Requerido</span>
                    </label>

                    <v-select :options="lotes"
                              :reduce="item => item.id"
                              label="nombre" v-model="model.lote_id">
                    </v-select>
                </div>
            </div>

            <!-- Variedades -->
            <div class="col-12 col-md-6 mt-2">
                <div id="field_group_variedad" class="form-group">
                    <label>Variedad
                        <span class="badge badge-info">Requerido</span>
                    </label>

                    <v-select :options="variedades"
                              :reduce="item => item.id"
                              label="nombre" v-model="model.variedad_id">
                    </v-select>
                </div>
            </div>

            <!-- Fecha de producción -->
            <div class="col-12 col-md-6 mt-2">
                <div id="field_group_fecha_produccion" class="form-group">
                    <label>Fecha de producción
                        <span class="badge badge-info">Requerido</span>
                    </label>

                    <date-picker class="readonly-undecorate" v-model="model.fecha_produccion"
                                 :config="$configDatepicker"
                                 readonly></date-picker>
                </div>
            </div>

            <!-- Total de manos -->
            <div class="col-12 col-md-6 mt-2">
                <div id="field_group_total_manos">
                    <label for="total_manos">Total de manos
                        <span class="badge badge-info">Requerido</span>
                    </label>

                    <input type="number" id="total_manos" v-model="model.total_manos" class="form-control">
                </div>
            </div>

            <!-- Rechazos -->
            <div class="col-12 col-md-6 mt-2">
                <div id="field_group_rechazos">
                    <label for="rechazos">Rechazos
                        <span class="badge badge-info">Requerido</span>
                    </label>

                    <input type="number" id="rechazos" v-model="model.rechazos" class="form-control">
                </div>
            </div>

            <!-- Total de cajas -->
            <div class="col-12 col-md-6 mt-2">
                <div id="field_group_caja_totales">
                    <label for="caja_totales">Total de cajas
                        <span class="badge badge-info">Requerido</span>
                    </label>

                    <input type="number" id="caja_totales" v-model="model.caja_totales" class="form-control">
                </div>
            </div>

            <!-- Costo adicional de producción -->
            <div class="col-12 col-md-6 mt-2">
                <div id="field_group_costo_adicional_produccion" class="form-group">
                    <label>Costo adicional de produccion</label>

                    <money v-model="model.costo_adicional_produccion" class="form-control"></money>
                </div>
            </div>

            <!-- Observación de la producción -->
            <div class="col-12 col-md-6 mt-2">
                <div id="field_group_observacion">
                    <label for="observacion">Observación
                        <span class="badge badge-info">Requerido</span>
                    </label>

                    <textarea type="number" id="observacion" v-model="model.observacion" rows="3"
                              class="form-control"></textarea>
                </div>
            </div>
        </div>

        <hr>

        <div class="form-row">
            <div class="col-12 col-md-4 mt-2">
                <div id="field_group_insumo" class="form-group">
                    <label>Insumos
                        <span class="badge badge-info">Requerido</span>
                    </label>

                    <v-select :options="insumos"
                              :reduce="item => item.id"
                              label="nombre" v-model="detalle.insumo_id">
                    </v-select>
                </div>
            </div>

            <div class="col-12 col-md-3 mt-2">
                <div id="field_group_cantidad">
                    <label for="cantidad">Cantidad
                        <span class="badge badge-info">Requerido</span>
                    </label>

                    <input type="number" id="cantidad" v-model="detalle.cantidad" class="form-control">
                </div>
            </div>

            <div class="col-12 col-md-3 mt-2">
                <div id="field_monto_costo_referencial" class="form-group">
                    <label>Costo referencial
                        <span class="badge badge-info">Requerido</span>
                    </label>

                    <money v-model="detalle.costo_referencial" class="form-control"></money>
                </div>
            </div>

            <div class="col-12 col-md-2 align-self-center mt-2">
                <button class="btn btn-success" @click="add"><i class="cil-plus"></i></button>
            </div>
        </div>

        <hr>

        <div class="row mt-3">
            <div class="col-12">
                <div class="table-responsive mt-4">
                    <table class="table table-bordered table-striped table-hover">
                        <thead>
                        <tr>
                            <th>Insumo</th>
                            <th>Cantidad</th>
                            <th>Costo referencial</th>
                            <th>Costo total</th>
                            <th>Eliminar</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="(detalle, index) in this.model.detalle">
                            <td v-text="detalle.insumo_nombre"></td>
                            <td v-text="detalle.cantidad"></td>
                            <td>{{ $currency_format(detalle.costo_referencial) }}</td>
                            <td>{{ $currency_format(detalle.costo_referencial * detalle.cantidad) }}</td>
                            <td>
                                <button class="btn btn-outline-danger"
                                        @click="remove(index)">
                                    <i class="cil-trash"></i>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="float-right mt-4 text-right">
                    <p>Costo de producción: {{ $currency_format(this.costoProduccion) }}</p>
                    <p>Total de utilidad de la producción: {{ $currency_format(this.totalUtilidad) }}</p>
                    <p>Total de producción con utilidad: {{ $currency_format(this.totalProduccion) }}</p>
                    <p>Precio de venta de caja: {{ $currency_format(this.precioCajaVenta) }}</p>
                </div>
            </div>
        </div>

        <div class="form-actions text-right mt-3">
            <button class="btn btn-success" @click="send"><i class="fa fa-check"></i> Salvar</button>
            <button class="btn btn-inverse" @click="clear(true)">Cancelar</button>
        </div>
    </div>
</template>

<script>
export default {
    name: "CreateProduccion",

    props: {parametros: Object, insumos: Array, lotes: Array, variedades: Array},

    watch: {
        'detalle.insumo_id'() {
            let insumo = this.insumos.find(
                item =>
                    Number(item.id) === Number(this.detalle.insumo_id)
            );

            this.detalle.costo_referencial = (insumo) ? insumo.costo_referencial : 0;
        },

        'model.total_manos'() {
            this.model.caja_totales =
                (Number(this.model.total_manos) / Number(this.parametros.total_manos_caja)).toFixed()
        }
    },

    computed: {
        costoProduccion() {
            let costo_produccion = Number(this.model.costo_adicional_produccion);

            this.model.detalle.forEach(
                item => {
                    costo_produccion += Number(item.costo_referencial) * Number(item.cantidad)
                }
            )

            return costo_produccion;
        },

        totalUtilidad() {
            return this.costoProduccion * (Number(this.parametros.porcentaje_utilidad) / 100)
        },

        totalProduccion() {
            return this.costoProduccion + this.totalUtilidad
        },

        precioCajaVenta() {
            if (Number(this.model.caja_totales) === 0 || isNaN(Number(this.model.caja_totales)))
                return 0;

            let precio_venta = (this.totalProduccion / Number(this.model.caja_totales))

            return precio_venta > Number(this.parametros.precio_base_caja) ?
                precio_venta : Number(this.parametros.precio_base_caja);
        },
    },

    data() {
        return {
            model: {
                lote_id: 0,
                variedad_id: 0,
                fecha_produccion: this.$now(),
                total_manos: 0,
                costo_adicional_produccion: 0,
                rechazos: 0,
                caja_totales: 0,
                observacion: '',
                detalle: []
            },

            detalle: {
                insumo_id: undefined,
                insumo_nombre: '',
                cantidad: 1,
                costo_referencial: 0
            },

            errors: undefined,
        }
    },

    methods: {
        add() {
            let insumo = this.insumos.find(
                item =>
                    Number(item.id) === Number(this.detalle.insumo_id)
            )

            this.detalle.insumo_nombre = insumo.nombre

            let detalle = this.model.detalle.find(
                item =>
                    Number(item.insumo_id) === Number(this.detalle.insumo_id)
            );

            detalle ?
                detalle.costo_referencial = Number(this.detalle.costo_referencial) :
                this.model.detalle.push(Object.assign({}, this.detalle));

            this.clear();
        },

        remove(index) {
            this.model.detalle.splice(index, 1);
        },

        send(event) {
            event.target.disabled = true;
            this.errors = undefined

            axios.post('/produccion', this.model)
                .then(response => {
                    Swal.fire('¡Acción completada correctamente!', response.data.message, 'success')
                    this.clear(true);
                })
                .catch(error => {
                    if (error.response.status === 422) {
                        return this.errors = error.response.data.errors
                    }

                    Swal.fire('¡Oops!', 'Ha surgido un error al intentar realizar esta acción', 'error')
                })
                .finally(() => event.target.disabled = false)
        },

        clear(all = false) {
            this.detalle = {
                insumo_id: undefined,
                insumo_nombre: '',
                cantidad: 1,
                costo_referencial: 0
            }

            if (all) {
                this.model = {
                    lote_id: 0,
                    variedad_id: 0,
                    fecha_produccion: undefined,
                    total_manos: 0,
                    rechazos: 0,
                    caja_totales: 0,
                    observacion: '',
                    detalle: []
                }
            }
        }
    }
}
</script>
